main{
    #heroProductos{
        margin-bottom: 80px;
        position: relative;
        bottom: 0px;
        background-image: url('https://i.pinimg.com/originals/a6/e7/46/a6e7468371ba3b3c3dc212b3ef54cd9c.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 650px;
        .heroProductos{
            padding-top: 20px;
            position: absolute;
            left: 150;
            bottom: 0;
            width: 500px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                padding: 5px 7px;
                border-radius: 12px;
                font-size: 35px;
                font-weight: 600;
            }
            p{
                font-size: 22px;
            }
        }
    }
    #tarjetas{
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        .card{
            .btn-primary{
                background-color: #BCAA99;
                border-color: #BCAA99;
            }
            margin: 50px;
            display: flex;
            text-align: center;
            border-bottom-right-radius: 25px;
            box-shadow: 7px 6px 19px -3px rgba(0,0,0,0.39);
            -webkit-box-shadow: 7px 6px 19px -3px rgba(0,0,0,0.39);
            -moz-box-shadow: 7px 6px 19px -3px rgba(0,0,0,0.39);
            --bs-card-border-color: none;
            h5{
                font-weight: 600;
            }
        }
    }
    #ideas{
        .ideas{
            margin-bottom: 80px;
            display: flex;
            justify-content: center;
            h2{
                font-weight: 600;
                font-size: 30px;
            }
        }
        .contenedor-imagen{
            position: relative;
            display: inline-block;
            text-align: center;
            display: flex;
            justify-content: center;
            margin-bottom: 150px;
            img{
                width: 100%;
            }
            p{
                width: 300px;
                padding: 20px;
                background-color: white;
                position: absolute;
                left: 0;
                bottom: -18;
            }
        }
        .galeria{
            img{
                width: 350px;
                height: 280px;
                margin: 12px 0px;
            }
        }
    }
}


@media (max-width: 576px){
    #heroProductos{
        .heroProductos{
            width: 250px !important;
            position: absolute;
            left: 70 !important;
        }
    }
}
