header{
    width: 100%;
    .navbar{
    }
    #navbarNavDropdown{
        justify-content: end;
        
    }
    .nav-link{
        color: black;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
        color: #BCAA99; 
    }
    .navbar-brand{
        color: black;
    }
}